PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# DATABASE
DATABASE_URL="postgresql://user:password@ep-cool-name-123456.eu-central-1.aws.neon.tech/statutshop?sslmode=require"

# SECURITY
JWT_SECRET="votre_cle_secrete_jwt"
JWT_EXPIRES_IN="30d"

# FIREBASE (SMS OTP)
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

# TELEGRAM BOT (OTP alternatif)
TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_URL=""
GA_PROPERTY_ID=123456789 # (Ton ID de propriété GA4, trouvable dans Analytics -> Admin -> Paramètres de la propriété)

# BAILEYS SESSION ENCRYPTION
SESSION_ENCRYPTION_KEY="genere_une_chaine_aleatoire_32_caracteres"

ZINDUA_API_KEY=ton_token_secret_ici
ZINDUA_SENDER_NUMBER=237xxxxxxxx
ZINDUA_API_URL=https://api.zindua.run/v1