PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# DATABASE
DATABASE_URL="postgresql://user:password@ep-cool-name-123456.eu-central-1.aws.neon.tech/statutshop?sslmode=require"

# SECURITY
JWT_SECRET="votre_cle_secrete_jwt"
JWT_EXPIRES_IN="30d"

# META WHATSAPP CLOUD API
META_WHATSAPP_PHONE_NUMBER_ID="votre_phone_number_id"
META_WHATSAPP_BUSINESS_ACCOUNT_ID="votre_business_account_id"
META_USER_ACCESS_TOKEN="votre_permanent_access_token"
META_GRAPH_API_VERSION="v18.0"
WHATSAPP_OTP_TEMPLATE_NAME="statutshop_otp"